@model IEnumerable<QLsach.Models.TONKHO>

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    
    <hr />
    <table class="table">
        <tr>
            <th>
                Ngày
            </th>
            <th>
                Sách
            </th>
            <th>
                Số lượng
            </th>
        </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACH.TENSACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
    </tr>
}
</table>
</div>
<p>
    @Html.ActionLink("Về", "Index")
</p>
