@model IEnumerable<DateTime>

@{
    ViewBag.Title = "Index";
}

<h2>Tồn kho</h2>

@Html.ActionLink("Tạo mới", "Create")
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ngày")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Details", new { id = item.ToString("dd-MM-yyyy") })
        </td>
    </tr>
}

</table>
